<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/artist.css">
</head>
<html>
    <head>
        <title>{{.Artist.Name}}</title>
    </head>
    <body>
        <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 2rem; max-width: var(--container-width); margin: 0 auto; padding: var(--spacing-4);">
            {{range $location, $dates := .Artist.Relations}}
            <div class="book">
                {{range $dates}}<br>{{.}}<br>{{end}}
                <div class="cover">
                    {{$location}}
                </div>
            </div>
            {{end}}
        </div>
    </body>
</html>